#difficulties p {
	text-align: center;
}
.text {
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
}
.bottomblock {
	border: 1px solid #004C93;
	width: 16%;
	min-width: 150px;
	margin: 130px 20px 0px 20px;
	height: 260px;
	padding: 5px;
	flex-grow: 1;
}
.upperblock {
	border: 1px solid #004C93;
	width: 16%;
	min-width: 150px;
	height: 260px;
	padding: 5px;
	flex-grow: 1;
}
@media screen and (max-width: 1024px) {
	.bottomblock, .upperblock {
		margin: 10px 0px 0px 0px;
	}
}